<!-- ã“ã“ã¾ã§å‰Šé™¤ -->
<div class="main foods-index">
  <div class="container" style="font-size:80px; margin: 6%; text-align:center">
    <%= link_to "ä»Šæ—¥ã®ãƒ©ãƒ³ãƒä½•ã«ã™ã‚‹ï¼Ÿï¼ŸðŸš", about_path %>
  </div>
</div>